[submodule "tests/tests"]
	path = tests/tests
	url = https://github.com/ethereum/tests.git
	shallow = true
[submodule "edge-contracts"]
	path = edge-contracts
	url = https://github.com/0xPolygon/edge-contracts
[submodule "tests/evm-benchmarks"]
	path = tests/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
